@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.8rem;
}

.container {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8rem;
    line-height: 1.5;
    position: relative;
    background: linear-gradient(to top left, #a74808, #dde007);
    color: #333;
    max-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr  ;
    grid-template-rows: [row] 1fr [row] 2fr [row] 1fr;
}

.box {
    color: #333;
    padding: 20px;
}

.header-left {
    grid-column: col / span 2;
    grid-row: row ;
}

.header-right {
    text-align: right;
    grid-column: col 3 / span 2 ;
    grid-row: row ;
}

.middle {
    grid-column: col / span 4 ;
    grid-row: row 2 ;
}

.footer {
    grid-column: col / span 4;
    grid-row: row 3;
}


.title {
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
}

.modal {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: white;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.show-modal {
    font-size: 2rem;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}
.add-item{
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}
.add-item-modal{
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: none;
    background: linear-gradient(to top left, #a74808, #dde007);
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}

.mark-paid-modal{
    font-size: 2rem;
    padding: 2rem;
    margin: 3rem;
    border: none;
    background: linear-gradient(to top left, #a74808, #dde007);
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    min-width: 50vw;
    max-width: 50vw;
    max-height: 50vh;
}