<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <title>simpleCart</title>
</head>
<body>
<div class="container">
    <div class="title box header-left">
        <h1>simpleCart</h1>
    </div>
    <div class="box header-right">
        <button class="show-modal">show cart</button>
    </div>
    <div class="box middle">
        <table class="table">
            <thead>
            <tr>
                <td>
                    <h1>Available items</h1>
                </td>
            </tr>
            </thead>
        </table>
        <table class="table">
            <thead>
            <tr>
                <td><b>ID</b></td>
                <td><b>NAME</b></td>
                <td><b>PRICE</b></td>
            </tr>
            </thead>
            <tbody>
            {{range .}}
            <tr>
                <td>{{ .Id }}</td>
                <td>{{ .Name }}</td>
                <td>{{ .Price }}</td>
                <td>
                    <a href="/add_products/{{ .Id }}" title="Add this item into the basket">
                    <span class="add-item material-icons">
                        add_shopping_cart
                    </span>
                    </a>
                </td>
            </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
    <div class="modal hidden">
        <button class="close-modal">&times;</button>
        <h1>Your cart</h1>
        <div>
            <span id="display_cart"></span>
        </div>
        <div>
            <table class="table">
                <tr>
                    <td>
                        <a href="paid">
                            <span class="mark-paid-modal material-icons">
                                shopping_cart_checkout
                            </span>
                        </a>
                    </td>
                    <td>
                        <span class="material-icons">
                            arrow_back
                        </span>
                    </td>
                    <td>
                        The button on the left marks the order as paid. But remember -
                        in the current state clicking this button is fatal and you need to restart the whole
                        application from the command line again.
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="overlay hidden"></div>
</div>
<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>
